@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  @apply bg-[#fff] border border-como-600 p-1 rounded-b-xl h-24 overflow-auto;
}

.ProseMirror-focused {
  @apply outline-green-500;
}

/* Placeholder (at the top) */
.ProseMirror p.is-editor-empty:first-child::before {
  @apply text-como-300;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

@layer base {
  html {
    font-family: Poppins, sans-serif;
    @apply text-como-900 bg-como-50;
  }

  h1 { @apply text-3xl; }

  h2 { @apply text-2xl; }

  h3 { @apply text-lg font-medium; }

  p { @apply text-como-600; }

  svg { @apply inline; }

  hr { @apply border-como-300; }

  label { @apply inline-block mb-1; }

  h1,
  h2 { @apply font-semibold; }

  input,
  textarea { @apply block rounded-xl border border-como-600 py-1 px-2 focus:outline-green-500; }

  a:focus,
  button:focus { @apply ring-4 ring-offset-4 ring-green-300; }
}

@layer utilities {
  .x-container { @apply px-8 xs:px-12 sm:px-24 md:px-44 lg:px-64 xl:px-80; }

  .text-link { @apply text-green-700 underline decoration-2 underline-offset-4 transition-colors hover:text-green-500; }

  .thread-card { @apply rounded-lg bg-como-50 border-2 border-como-600 py-7 px-5 shadow-lg transition hover:scale-[1.02]; }

  .thread-card:hover h2 { @apply text-green-600 underline decoration-2 underline-offset-2; }
}
